= simple_form_for(@configuration, as: :configuration) do |f|
  = f.input :name
  = f.input :site_title
  = f.input :status, as: :select, collection: [:disabled, :active], default: :disabled
  = f.submit