<p id="notice"><%= notice %></p>

<h1>Listing Site Configurations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_configurations.each do |site_configuration| %>
      <tr>
        <td><%= link_to 'Show', site_configuration %></td>
        <td><%= link_to 'Edit', edit_site_configuration_path(site_configuration) %></td>
        <td><%= link_to 'Destroy', site_configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Configuration', new_site_configuration_path %>
